$black: #292f36;
$gray: #4d5053;
$golden: #cda274;
$jostR: "Jost_r",
sans-serif;
$jostSB: "Jost_sb",
sans-serif;
$DM: "DM",
sans-serif;
@font-face {
    font-family: "Jost_r";
    src: url("../fonts/Jost-Regular.ttf");
}

@font-face {
    font-family: "Jost_sb";
    src: url("../fonts/Jost-SemiBold.ttf");
}

@font-face {
    font-family: "DM";
    src: url("../fonts/DMSerifDisplay-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

a {
    text-decoration: none;
}

.main {
    font-family: $jostR;
    color: $black;
}

.container {
    max-width: 1201px;
    margin: 0 auto;
}

.header {
    .container {
        display: flex;
        margin-top: 44px;
        margin-bottom: 57px;
    }
}

.header-left {
    margin-right: auto;
}

.header-logo {
    width: 177px;
    cursor: pointer;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 49px;
}

.header-link {
    font-size: 20px;
    color: $black;
}

.promotion {
    .container {
        background-image: url(../img/promotion.png);
        height: 758px;
        display: flex;
        align-items: center;
    }
}

.promotion-content {
    margin-left: 52px;
    display: flex;
    flex-direction: column;
    max-width: 433px;
    gap: 19px;
}

.promotion-title {
    font-family: $DM;
    font-size: 65px;
}

.promotion-text {
    color: $gray;
    font-size: 22px;
}

.promotion-button {
    background-color: $black;
    color: #fff;
    font-family: $jostSB;
    font-size: 18px;
    display: flex;
    padding: 26px 49px 26px 48px;
    width: 220px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 18px;
    box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
    cursor: pointer;
}

.follow-us {
    display: flex;
    justify-content: center;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 96px 0;
    }
}

.follow-title {
    font-family: $DM;
    font-size: 50px;
}

.follow-text {
    margin-top: 8px;
    margin-bottom: 93px;
    font-size: 22px;
    color: $gray;
    max-width: 737px;
    text-align: center;
}

.follow-items {
    display: grid;
    column-gap: 104px;
    row-gap: 56px;
    grid-template-columns: auto auto;
}

.follow-item {
    display: flex;
    flex-direction: column;
    max-width: 619px;
}

.follow-image {
    margin-bottom: 24px;
}

.follow-item-info {
    display: flex;
    flex-direction: row;
}

.follow-item-left {
    margin-right: auto;
}

.follow-item-title {
    font-family: $DM;
    font-size: 25px;
}

.follow-item-text {
    font-size: 22px;
}

.follow-item-button {
    border-radius: 100%;
    cursor: pointer;
}

.projects-info {
    background: #f4f0ec;
    padding: 151px 0;
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 76px;
    }
}

.project-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-right: 56px;
}

.project-info-box {
     ::after {
        content: "";
        display: block;
        width: 1px;
        background: $golden;
        height: 130px;
        right: 0;
        position: absolute;
        bottom: 0;
    }
}

.project-info-title {
    font-family: $DM;
    color: $golden;
    font-size: 85px;
}

.project-info-text {
    font-size: 22px;
    color: $gray;
}

.articles {
    .container {
        padding-top: 96px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-bottom: 96px;
    }
}

.articles-title {
    font-family: $DM;
    font-size: 50px;
}

.articles-text {
    color: $gray;
    font-size: 22px;
    margin-top: 12px;
    margin-bottom: 52px;
    max-width: 811px;
}

.articles-items {
    display: flex;
    flex-direction: row;
    gap: 27px;
}

.article-item {
    border-radius: 62px;
    border: 1px solid #e7e7e7;
    box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
    padding: 21px;
    position: relative;
}

.article-middle {
    background: #f4f0ec;
}

.article-item-image {
    margin-bottom: 21px;
}

.article-image-box {
    position: absolute;
    background: #fff;
    left: 41px;
    top: 249px;
    width: 124px;
    height: 41px;
    border-radius: 8px 8px 8px 0px;
    background: #fff;
    font-size: 16px;
    color: $gray;
    text-align: center;
    line-height: 41px;
}

.article-item-box {
    display: flex;
    flex-direction: row;
    max-width: 340px;
    height: 170px;
    padding-bottom: 16px;
}

.article-item-info {
    margin-right: auto;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.article-item-title {
    font-family: $DM;
    font-size: 25px;
    max-width: 273px;
}

.article-item-text {
    font-size: 16px;
}

.article-item-button {
    align-self: flex-end;
    border-radius: 100%;
    width: 52px;
    height: 52px;
    cursor: pointer;
    img {
        width: 52px;
        height: 52px;
    }
}

.footer {
    padding-bottom: 120px;
    .container {
        display: flex;
        flex-direction: row;
    }
}

.footer-left {
    svg {
        margin-right: 54px;
    }
}

.footer-left-text {
    font-size: 22px;
    color: $gray;
    max-width: 393px;
    margin-bottom: 31px;
    margin-top: 18px;
}

.footer-middle {
    font-size: 22px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-right: 53px;
    margin-left: 101px;
}

.footer-middle-title {
    font-family: $DM;
    font-size: 25px;
}

.footer-right {
    font-size: 22px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 258px;
    margin-left: auto;
}

.footer-right-title {
    font-family: $DM;
    font-size: 25px;
}